push_to_github.sh
.idea/
dist/
build/
.pyRM_UI_Simulator/
cmake-build/
RM_UI_Simulator.egg-info/
界面设计/
__pycache__/
venv/
*.zip
CMakeLists.txt
RM_UI_Simulator/C_platform/build/
RM_UI_Simulator/C_platform/Testing/
RM_UI_Simulator/C_platform/.*/
RM_UI_Simulator/C_platform/cmake-build-debug/
RM_UI_Simulator/C_platform/CMakeFiles/
RM_UI_Simulator/C_platform/CMakeCache.txt
RM_UI_Simulator/C_platform/cmake-build-debug
RM_UI_Simulator/C_platform/build.ninja
RM_UI_Simulator/C_platform/.ninja_deps
RM_UI_Simulator/C_platform/.ninja_log
RM_UI_Simulator/C_platform/*.exe
RM_UI_Simulator/C_platform/cmake_install.cmake
RM_UI_Simulator/config.yml
!demo/sample-ui-project/.pyRM_UI_Simulator
